* {
  margin: 0;
  padding: 0;
}
.jumbotron {
  margin-top: 20px;
  padding: 0px;
  background-image: url('https://images.all-free-download.com/images/graphiclarge/blue_sky_with_nature_vector_background_vector_545591.jpg');
  color: yellow;
  font-size: 60px;
}
h1 {
  text-align: center;
  font-family: 'Bonheur Royale', cursive;
}
p {
  margin: 40px;
  font-family: 'Bonheur Royale', cursive;
  text-align: center;
}
li {
  font-family: 'Bonheur Royale', cursive;
  font-size: 30px;
  color: grey;
  margin: 5px;
  padding: 5px;
}
.wrapper-app-wraper {
  max-width: 200px;
  margin-left: 10px;
  padding: 20px;
  position: right 10px;
}

.weather-new {
  background: cornsilk;
  padding: 20px;
  border-radius: 30px;
  border: 10px solid yellowgreen;
  margin: 60px;
}
.search-bar {
  font-family: 'Bonheur Royale', cursive;
  font-size: 15px;
  border-radius: 15px 0px 0px 15px;
  background-color: white;
  padding: 5px 40px 5px 20px;
  outline: none;
  border: none;
  opacity: 80%;
}
.btn-search {
  background-color: rgb(255, 0, 212);
}
#current-city {
  font-size: 16px;
  font-family: 'Bonheur Royale', cursive;
  margin-top: 10px;
}
