* {
  margin: 0;
  padding: 0;
}
.jumbotron {
  
margin-top: 20px;
padding: 0px;
background-image:url("https://images.all-free-download.com/images/graphiclarge/blue_sky_with_nature_vector_background_vector_545591.jpg") ;
 color: yellow;
 font-size: 60px;
}
h1 {
  text-align: center;
  font-family: 'Bonheur Royale', cursive;
}
p {
  margin: 40px;
  font-family: 'Bonheur Royale', cursive;
  text-align: center;
}
li {
  font-family: 'Bonheur Royale', cursive;
  font-size: 30px;
  color: grey;
  margin: 0px;
  padding: 15px;
}
.wrapper-app-wraper {
  max-width: 400px;
  margin: 45px;
  padding: 50px;
}

.weather-new {
  background: cornsilk;
  padding: 20px;
  border-radius: 30px;
  border: 10px solid gray;
  margin: 60px;
}
.bnt {
  font-family: 'Bonheur Royale', cursive;
  border-radius: 15px;
  color: yellow;
  background-color:yellowgreen;
 padding: 10px;
  margin: 15px;
  font-size: 20px;
}
.form-control {
  font-family: 'Bonheur Royale', cursive;
  border-radius: 25px;
  padding: 20px;
  margin: 15px;
  font-size: 20px;
}
